<form [formGroup]="formGroup" (submit)="onSubmit()">
  <mat-form-field>
    <input matInput type="text" placeholder="Заголовок задачи" formControlName="title">
    <mat-error *ngIf="formGroup.get('title').invalid">Введите заголовок</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Запланированное время (ч)" formControlName="estimatedTime">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Затраченное время (ч)" formControlName="actualTime">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput type="text" placeholder="Описание задачи" formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Сложность задачи" formControlName="complexity">
      <mat-option [value]="1">1</mat-option>
      <mat-option [value]="2">2</mat-option>
      <mat-option [value]="3">3</mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.get('complexity').invalid">Укажите сложность задачи</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Статус задачи" formControlName="status">
      <mat-option *ngFor="let status of TASK_STATUSES" [value]="status.code">{{ status.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button type="submit" color="primary" [disabled]="formGroup.invalid">{{ task ? 'Сохранить' : 'Создать' }}</button>
</form>
