<app-burndown-chart *ngIf="project"
  [fullEstimatedTime]="fullEstimatedTime"
  [actualTimesData]="actualTimesData"></app-burndown-chart>

<hr>

<button mat-button color="primary" (click)="createTask()">Добавить задачу</button>
<div *ngIf="project" class="board">

  <div class="board-column">
    <h2>To do</h2>
    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todoTasks"
      [cdkDropListConnectedTo]="[inprogressList, testList, doneList]" class="tasks-list"
      (cdkDropListDropped)="drop($event, 'todo')">
      <app-task-card [task]="task" class="tasks-item" *ngFor="let task of todoTasks" cdkDrag></app-task-card>
    </div>
  </div>

  <div class="board-column">
    <h2>In progress</h2>
    <div cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="inprogressTasks"
      [cdkDropListConnectedTo]="[todoList, testList, doneList]" class="tasks-list"
      (cdkDropListDropped)="drop($event, 'in_progress')">
      <app-task-card [task]="task" class="tasks-item" *ngFor="let task of inprogressTasks" cdkDrag></app-task-card>
    </div>
  </div>

  <div class="board-column">
    <h2>Test</h2>
    <div cdkDropList #testList="cdkDropList" [cdkDropListData]="testTasks"
      [cdkDropListConnectedTo]="[todoList, inprogressList, doneList]" class="tasks-list" (cdkDropListDropped)="drop($event, 'test')">
      <app-task-card [task]="task" class="tasks-item" *ngFor="let task of testTasks" cdkDrag></app-task-card>
    </div>
  </div>

  <div class="board-column">
    <h2>Done</h2>
    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="doneTasks"
      [cdkDropListConnectedTo]="[inprogressList, testList, todoList]" class="tasks-list"
      (cdkDropListDropped)="drop($event, 'done')">
      <app-task-card [task]="task" class="tasks-item" *ngFor="let task of doneTasks" cdkDrag></app-task-card>
    </div>
  </div>
</div>
