.board {
  display: flex;
  width: 100%;
  overflow-x: auto;
}
.board-column {
  min-width: 265px;
  width: 400px;
  margin: 0 25px 25px 0;
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  background-color: #ebecf0;
  border-radius: 3px;
}

.tasks-list {
  min-height: 60px;
  overflow: hidden;
  display: block;
}
.tasks-item {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}
.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-item:last-child {
  border: none;
}

.tasks-list.cdk-drop-list-dragging .tasks-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
