<div *ngIf="task" class="task-card" [ngStyle]="{ 'background-color': task.complexity === 3 ? '#f9e0e0' : task.complexity === 2 ? '#ffffe5' : '#d7ffe9' }">
  <div class="flex-between">
    <h3 class="task-title">{{ task.title }}</h3>
    <div class="task-time" [ngStyle]="{ 'color': task.actualTime > task.estimatedTime ? 'red' : 'black' }">{{ (task.actualTime / 3600) | number:'.0-1' }}h / {{ (task.estimatedTime / 3600) | number:'.0-1' }}h</div>
  </div>
  <p class="task-description">{{ task.description }}</p>
  <mat-icon class="task-edit" aria-hidden="false" aria-label="Example home icon" (click)="edit()">build</mat-icon>
</div>
