.task-card {
  position: relative;
  width: 100%;
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 4px;
  background: white;

  &:hover, &:focus {
    .task-edit {
      display: inline-block;
    }
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task-edit {
  position: absolute;
  top: 5px;
  left: 5px;
  display: none;
  cursor: pointer;
  font-size: 16px;
  color: #556fd8;
}
